history
eshell/history
eshell/lastdir
url/cache/*
# Ignore backup files
*~
# Ignore compiled Elisp files
*.elc
.tutor/*
ido.last
semanticdb/*
# Ignore ELPA files (they will be downloaded on first run)
elpa/*
# Ignore auto-complete history
ac-comphist.dat
recentf
server/*
