history
eshell/history
eshell/lastdir
url/cache/*
# Ignore backup files
*~
# Ignore compiled Elisp files
*.elc
.tutor/*
ido.last
semanticdb/*
# Ignore downloaded archive index files
elpa/archives/*
# Ignore auto-complete history
ac-comphist.dat
